<div class="app-contenido">
    <div class="row">
        <div class="card destino" style="width: 18rem;">
            <img src="../../../assets/amsterdam.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Amsterdam</h5>
                <p class="card-text">Paises Bajos</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        <div class="card destino" style="width: 18rem;">
            <img src="../../../assets/newyork.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nueva York</h5>
                <p class="card-text">Estados Unidos</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        <div class="card destino" style="width: 18rem;">
            <img src="../../../assets/paris.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Paris</h5>
                <p class="card-text">Francia</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        
    </div>


</div>