.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header"
    "menu contenido contenido contenido contenido"
    "menu contenido contenido contenido contenido"
    "menu contenido contenido contenido contenido"
    "footer footer footer footer footer";
  height: 100vh;
}

.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
}

.contenido {
  grid-area: contenido;
}

.footer {
  grid-area: footer;
}
